html{background-color:#fafafa}
body{color:#333;background-color:#fff}
a{color:#1f96ff}
a:hover{color:#1c87e5}
h1{font-size:28px}
h2{font-size:22px}
code{font-size:.8em}
br + code{display:block;padding:8px;margin:4px 0}

.navbar{background-color:rgba(31, 150, 255, .85);color:#fff;border:none}
.navbar + *{margin-top:64px}
.navbar-brand{margin-top:6px}
.navbar a{color:#fff}
.navbar .nav > li > a{padding-top:24px;padding-bottom:16px;font-size:16px}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover{background-color:transparent;border-bottom:4px solid #1c87e5}
.navbar .nav > .devide{padding:24px 16px 16px}

.banner{position:relative;padding:184px 0 120px;margin-top:0;background-color:#1f96ff;color:#fff}
.banner hgroup{letter-spacing:1px}
.banner h1{margin-top:0;font-size:16px;font-weight:200}
.banner h2{margin-top:0;font-size:32px;font-weight:100}
.banner .btn{padding-right:20px;padding-left:60px;margin-top:40px;margin-right:20px;color:#fff;font-weight:200;font-size:20px;line-height:1;text-align:left;background-color:rgba(0,0,0,.1);
	-webkit-transition:all .3s ease-in-out;
			transition:all .3s ease-in-out;
}
.banner .btn:hover{background-color:rgba(0,0,0,.2)}
.banner .btn i{float:left;margin-top:2px;margin-left:-40px;font-size:32px}
.banner .btn small{display:block;font-size:14px}
.banner .btn-download.disabled{background-color:transparent;border:1px solid rgba(0,0,0,.1);}

.screen-shoot{position:absolute;top:120px;right:0;left:62%;height:785px;background:url(screen-shoot.png) no-repeat left top}

.main{padding:40px 0}
.features{padding-left:0;list-style:none}
.features > li{position:relative;min-height:92px;padding-left:96px;padding-top:8px;margin-bottom:8px;font-size:28px;color:#1f96ff;font-weight:100;letter-spacing:1px}
.features > li:last-child{margin-bottom:0}
.features > li > [class*="icon-"]{position:absolute;left:0;top:0;display:block;width:60px;height:60px;font-size:32px;line-height:60px;text-align:center;color:#1f96ff;border:2px solid #1f96ff;border-radius:60px}
.features > li > ul{padding-left:0;list-style:none}
.features > li li{font-size:16px;color:#666}

.aside-nav{background-color:#fff}
.aside-nav.affix{top:64px}
.aside-nav li > a{padding:12px 4px;border-bottom:1px solid #ccc;
	-webkit-transition:all .3s ease-in-out;
			transition:all .3s ease-in-out;
}
.aside-nav li > a:hover{background-color:transparent;border-bottom-color:#1f96ff}
.aside-nav .active > a{border-bottom-color:#1f96ff}
.aside-nav li > ul{margin-left:16px;font-size:.9em}

.main .page-header{margin-top:0}
.main .page-header h1{margin-top:0}
.main .lead{border-bottom:1px dotted #ccc}
.main section{padding-top:64px}
.main section h2{padding-bottom:12px;font-size:20px;border-bottom:1px dotted #ccc}
.main section h3{font-size:16px}
.main section h4{font-size:14px}
.main section:first-child{padding-top:0}

.footer{padding:40px 0 120px;background-color:#fafafa;color:#999}

/* iOS WebView */
.iOS .navbar{display:none}
.iOS .navbar + *{margin-top:0}
.iOS .main{padding-top:0}
.iOS .main section{padding-top:20px}
.iOS .footer{display:none}

/* responsive */
@media (min-width:768px){
	.aside-nav{width:220px}
}
@media (min-width:992px){
	.aside-nav{width:212px}
}
@media (min-width:1200px){
	body{font-size:16px}
	.screen-shoot{margin-right:60px}
	.aside-nav{width:262px}
}

/* fonts */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
	content: "\e600";
}
.icon-apple:before {
	content: "\e601";
}
.icon-android:before {
	content: "\e602";
}
.icon-key:before {
	content: "\e603";
}
.icon-shield:before {
	content: "\e604";
}
